/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styling */

*,
* ::before,
* ::after {
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px ;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Header */
 
.header,.footer {
    background-color: rgb(12, 12, 68);
    
}
.logo a {
    font-size: 60px;
    color: rgb(21, 168, 21);
    text-decoration: none;
}

.nav a {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    color: white;
}
.nav .bell {
    margin-right: 15px;
}

/* dashboard */
.container.flex{
    justify-content: space-between;
}
.dashboard {
    width: 25%;
    height: 800px;
    margin: 2.5%;
    border-radius: 15px;
    background-color: rgb(111, 196, 230);
}
.art-col {
    width: 50%;
    margin: 2.5%;
}
.dashboard.flex1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.dashboard a {
    width: 80%;
    font-size: 20px;
    color: black;
    padding: 24px;
    text-decoration: none;
    margin: 2px 20px;
    border-radius: 2px solid  rgb(111, 196, 230);
}

#dash {
    margin-top: 20px;
}

#dash-art{
    color: #ff9426d1;
    border: 1px solid #ff9426d1;
}

#logout{
    margin-top: 200px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 15px;
}

/* Article */

.art-col {
    background-color: rgb(239, 238, 238);
    border-radius: 18px;
    padding: 25px;
}
.art-col img {
    width: 100%;
    border-radius: 18px;
}
h1{
    font-size: 27px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 0px;
}
p {
    margin: 10px 0;
}
.art-para2 {
    margin-bottom: 20px;
}
.art-col a {
    background-color: rgb(57, 161, 57);
    color: white;
    height: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
}
.footer{
    padding: 20px;
 
}
.footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right:  25px ;
    margin-left: 25px;
}