/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom Styling */

*,
* ::before,
* ::after {
    box-sizing: border-box;
}
body {
    line-height: 1.5;
    /* background-image: url(../HTML\ Files/Pictures/one-piece_crew.jpg);"C:\Users\insti\OneDrive\Desktop\Project 0\sidi.github.io\HTML Files\Pictures\one-piece-crew.jpg" */
    background:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../HTML\ Files/Pictures/one-piece-crew.jpg) no-repeat ;
    background-size: cover;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-size: 48px;
    color: white;
    text-align: center;
    text-shadow: 2px 4px 10px white;
}
.box {
    display: flex;
    width: 30%;
    height: 250px;
    margin: 1.5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}
.box-1 {
    background: linear-gradient(red,red);
}
.box-2 {
    background: linear-gradient(to left, red,black);
}
.box-3 {
    background: radial-gradient(red,black);
}
.box-4 {
    background: linear-gradient(to top left , rgba(255, 0, 0,0.8), rgba(247, 239, 195,0.8) ), url(../HTML\ Files/Pictures/one-piece-war.jpg) no-repeat;
    background-size: cover;
    height: 300px;
    width: 90%;
    margin: 50px;
    border-radius: 12px ;
}