h1 {
    border: 1px solid red;
    background-color: #D18C1D;
    padding: 10px;
    text-align: center;
}
p{
    height: 600px;
    width: 400px;
    border: 2px dotted black;
    background-color:  #D1D631;
    padding: 24px;
}
a{
    border-bottom: 3px dashed blue;
    background-color: #A1A1A1;
    text-decoration: none;
    padding: 16px;
    font-size: 24px;
    display: inline-block;
}
img {
    height: 400;
    width: 400;
    border-radius: 20px;
    background-color: black;
    display: inline;
}
.circle {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius:25px;
}