.box{
    height: 100px;
    width: 150px;
    border: 10px solid black;
    background-color: maroon;
    margin: 5px;
    display: inline-block;
}
.dashed{
    border-style: dashed;
}
.dotted{
    border-style: dotted;
}
.double{
    border-style: double;
}
.no-border{
    border: 0px;
}
.para{
    width: 150px;
    background-color: red;
    color: white;
    padding: 15px;
    border-top: 12px solid blue;
    border-right: 12px solid grey;
    border-bottom: 12px solid yellow;
    border-left: 12px solid green;      
}
.final{
    background-color: purple;
    display: inline-block;
    padding: 15px;
    margin: 12px;

}
